@import "tailwindcss";
@font-face {
  font-family: 'Lemon Milk Bold'; 
  src: url('../src/assets/font/lemon_milk/LEMONMILK-Bold.otf') format('opentype');  
  font-style: normal; 
}
@font-face {
  font-family: 'Lemon Milk Regular'; 
  src: url('../src/assets/font/lemon_milk/LEMONMILK-Regular.otf') format('opentype'); 
  font-style: normal; 
}
@font-face {
  font-family: 'Lemon Milk Medium'; 
  src: url('../src/assets/font/lemon_milk/LEMONMILK-Medium.otf') format('opentype');  
  font-style: normal; 
}
@font-face {
  font-family: 'Lemon Milk Light'; 
  src: url('../src/assets/font/lemon_milk/LEMONMILK-Light.otf') format('opentype'); 
  font-style: normal; 
}

*{
  box-sizing: border-box;
  
}
:root {
  --primary: #0C1D21;
  --secondary: #0C4655;
  --accent: #1496B6;
  --background: #000000;
  --textlight: #BEC0C9;
  --textwhite: #FFFFFF;
  --border: #434557;
  --secondarybg: #171717;
}
#_rht_toaster{
  text-transform: capitalize;
}
button, a{
  cursor: pointer;
}
.lemon-milk-font {
  font-family: 'Lemon Milk Bold', sans-serif;
}
.lemon-milk-medium{
  font-family: 'Lemon Milk Medium';
}

.landing-wrapper {
 
  background: 
  linear-gradient(rgba(16, 18, 23, 0.6), rgba(16, 18, 23, 0.6)), /* Semi-transparent overlay */
  url('/src/assets/images/toornoi-trophy.png') no-repeat center center / cover;
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Sidebar Scrollbar */
.sidebar::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

/* Track (Background) */
.sidebar::-webkit-scrollbar-track {
  background: var(--secondarybg); /* Dark background */
  border-radius: 5px; /* Rounded edges */
  margin: 10px 0; /* Adds space on top and bottom */
}

/* Thumb (Scroller) */
.sidebar::-webkit-scrollbar-thumb {
  background: var(--secondary); /* Gray color for scrollbar */
  border-radius: 5px; /* Rounded scrollbar */
  border: 2px solid var(--border); /* Space on the left */
}

/* Scrollbar on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: var(--secondary); /* Lighter color on hover */
}

.checkout-form input{
  color: white !important;
}
